header {
    text-align: center;
    background-color: bisque;
}

main {
    display: flex;
    flex-direction: row;  
    background-color: bisque;
}

aside {
    text-align: center;
    background-color: bisque;
}

footer {
    background-color: bisque;
}