header {
    text-align: center;
    background-color: bisque;
}

html {
    background-color: bisque;
}

main {
    display: flex;
    flex-direction: row;  
    background-color: bisque;
}

.carousel img {
    border-radius: 5%;
}

aside {
    text-align: center;
    background-color: bisque;
}

footer {
    background-color: bisque;
}